 .resetGame-Container {
      display: flex;
      justify-content: end;
      margin: 20px 0;
    }
 .resetGame-Button {
      background-color: rgb(2, 0, 128);
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      transition: background-color 0.3s;
    }

    /* Hover effect */
    .resetGame-Button:hover {
      background-color: rgb(146, 13, 13);
    }
    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      color: #f0f0f0;
    }