.board {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.board-row {
  display: flex;
  gap: 1rem;
}

.board-row button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #444;
  transition: 0.2s;
  background-color: white;
}

.board-row button:hover {
  transform: scale(1.08);
  background-color: #f3f3f3;
}

.board-row button:focus {
  outline: none;
}

.board-row button:active {
  outline: none;
  border-color: #444; 
}
