.contact-container {
  margin-top: 60px;
  padding: 40px 30px;
  text-align: center;
}

.funny-text {
  font-size: 20px;
  line-height: 1.6;
}

.laugh-gif {
  width: 200px;
  border-radius: 20px;
  padding-top: 10px;
}
