 .newGame-Button {
      background-color: #01D0FB; /* Button background */
      color: white;            /* Text color */
      padding: 10px 20px;      /* Space inside the button */
      border: none;            /* Remove default border */
      border-radius: 5px;      /* Rounded corners */
      cursor: pointer;         /* Pointer on hover */
      font-size: 16px;         /* Text size */
      transition: background-color 0.3s; /* Smooth hover effect */
      margin: 10px;
    }

    /* Hover effect */
    .newGame-Button:hover {
      background-color: #01C0FA;
    }
    a {
      color: white;           /* White text */
      text-decoration: none;  /* Remove underline */
    }

    /* Hover effect for links */
    a:hover {
      color: #f0f0f0;         /* Slightly brighter on hover */
    }