.about-container {
  max-width: 700px;
  margin: 130px auto 50px auto; /* margin-top كبير */
  background-color: #ffffff;
  padding: 70px 50px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.about-title {
  color: #2c3e50;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: bold;
}

.about-text {
  font-size: 18px;
  line-height: 2.2;
  margin: 25px 0;
}

.highlight {
  color: #27ae60;
  font-weight: bold;
}